<h3>Listado de Héroes</h3>

<div
  *ngIf="deletedHero; else nothingWasDeleted">
  <h3>Héroe borrado <small class="text-danger">{{ deletedHero }}</small></h3>
</div>

<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada.</h3>
</ng-template>

<button
  *ngIf="heroNames.length > 0"
  (click)="removeLastHero()"
  class="btn btn-outline-danger mx-2">
  Borrar último héroe
</button>

<button
  *ngIf="deletedHero"
  (click)="returnLastDeletedHero()"
  class="btn btn-primary me-2">
  Retornar último héroe eliminado
</button>

<button
  *ngIf="deletedHeroes.length > 1"
  (click)="returnAllDeletedHeroes()"
  class="btn btn-dark">
  Retornar todos lo héroes eliminados
</button>

<ul class="mt-2 list-group">
  <li
    *ngFor="let name of heroNames"
    class="list-group-item">
    {{ name }}
  </li>
</ul>
